extends ../../../layout/layout_kit.pug


block content
    .content
        .mark  
            img(src="./img/kit/mark.svg" alt="mark")    
        .content__iner_position
            .content__iner
                .colorbar
                    include ../../../pug/mixins.pug
                    +colorbar('black',"1")
                    +colorbar('black',"0.75")
                    +colorbar('black',"0.5")
                    +colorbar('black',"0.25")
                    +colorbar('black',"0.05")
                    +colorbar('purple')
                    +colorbar('green')               
                
                .textbar
                    .textbar__label
                        .textbar__labelitem H1
                        .textbar__labelitem H2 
                        .textbar__labelitem H3  
                        .textbar__labelitem Body
                    .textbar__text
                            h1
                                | This one is the sub-section or 
                                | widget title                         
                            h2
                                | Next one is the item title inside 
                                | widgets                          
                            h3
                                | This is a label or CTA text
                            p
                                | This is the body text which is used for most 
                                | of the design, like paragraphs, lists, etc.
