extends ../../../layout/layout_kit.pug

block content
    .content
        .content__iner
            .textfield
                .textfield__label Text field
                input(class="textfield__input" type="text")