/* Montserrat bold */

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Bold.eot');
	src:  url('/fonts/Montserrat-Bold.woff') format('woff'),
	 	url('/fonts/Montserrat-Bold.ttf') format('truetype'),
	  	url('/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* Montserrat regular */

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular.eot');
	src:  url('/fonts/Montserrat-Regular.woff') format('woff'),
		 url('/fonts/Montserrat-Regular.ttf') format('truetype'),
		 url('/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* quicksand bold*/
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/quicksand-v20-latin-700.eot');
	src: local(''),
		 url('/fonts/quicksand-v20-latin-700.eot?#iefix') format('embedded-opentype'), 
		 url('/fonts/quicksand-v20-latin-700.woff2') format('woff2'), 
		 url('/fonts/quicksand-v20-latin-700.woff') format('woff'), 
		 url('/fonts/quicksand-v20-latin-700.ttf') format('truetype'), 
		 url('/fonts/quicksand-v20-latin-700.svg#Quicksand') format('svg'); 
  }
