extends ../../../layout/layout_kit.pug

block content
    .content
        .mark  
            img(src="./img/kit/mark.svg" alt="mark")
        .container
            include ../../header/header.pug
        include ../../header/header.pug