.header
    .header__iner
        .logo-position
            include ../logo/logo.pug
        .container   
            .nav         
                ul.nav__menu
                    li.nav__item
                        a(class='nav__link' href="#") Home
                    li.nav__item
                        a(class='nav__link' href="#") About Us
                    li.nav__item
                        a(class='nav__link' href="#") Services
                    li.nav__item
                        a(class='nav__link' href="#") Careers
                    li.nav__item
                        a(class='nav__link' href="#") News
                    li.nav__item
                        a(class='nav__link' href="#") Documentation            
            .aunth
                include ../button/button.pug
                +button('login','79px','unfill')
                +button('register','101px','fill')
                    