$primary-color: #333;


.header__iner {
    background-color: darkcyan;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

