header
    .header
        .header__iner
            .logo  
                img(src="/src/blocks/header/img/logo.png" alt="logo")
            .nav         
                ul.nav-menu
                    li:a(.nav-menu__link href="#") Home
                    li:a(.nav-menu__link href="#") About Us
                    li:a(.nav-menu__link href="#") Services
                    li:a(.nav-menu__link href="#") Careers
                    li:a(.nav-menu__link href="#") News
                    li:a(.nav-menu__link href="#") Documentation
                    
                input(.nav__btn .nav__login type="button" name='Login' value='Login')
                input(.nav__btn .nav__registration type="button" name='Login' value='Registration') 