.header
    .header__iner
        .logo-position
            include ../logo/logo.pug
        .nav_aunth_box  
            .nav         
                ul.nav__menu
                    each link, name in {'Главная' : '#', 'О компании' : '#', 'Услуги' : '#', 'Каталог' : '#', 'Контакты' : '#'}
                        li.nav__item
                            a(class='nav__link' href= "/" + link + ".html")= name         
            .aunth
                include ../button/button.pug
                +button("btn1 ",'79px','unfill',linkbtn_1)
                +button("btn2 ",'101px','fill',linkbtn_2)
